.main-container-horarios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: -10vh;
    width: 100%;
}

.table-container-horarios {
    width: 90%;
    max-width: 1400px;
    margin: 10px auto;
    margin-bottom: 4vh;
    background-color: #3e3478dc;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.top-table-horarios {
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.title-table-horarios {
    color: #FFFFFF;
}

.filter-actions-horarios {
    display: flex;
    align-items: center;
    gap: 10px;
    button {
        width: 30px;
        height: 30px;
        padding: 0;
        border: none;
        background: #F0F1FF;
        cursor: pointer;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
    button img {
        width: 20px;
        height: 20px;
    }
}

.button-disabled {
    opacity: 0.5; /* Visualización clara de deshabilitado */
    pointer-events: none; /* Evita clics */
    cursor: not-allowed; /* Cursor no permitido */
}



