.navbar {
	position: relative;
    width: 100%;
    top: 0;
    left: 0;
    display: block;
    background-color: #7A28CB;
    height: 9vh;
    z-index: 1000;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); /* Agrega sombra a la línea inferior */
	ul {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0 5vw;
		margin: 0;
		height: 100%;
		li {
			display: flex;
			align-items: center;
			padding: 0 10px;
			position: relative;
			height: 100%;
			a {
				color: #F0F1FF;
				font-size: 0.9em;
				text-decoration: none;
				position: relative;
				border-bottom: transparent 3px solid;
				padding: 0 10px 3px 10px;
				box-sizing: border-box;
			}
			a:hover {
				color: #F9567D;
			}
			.active {
				background-color: #3E3478;
				margin: 0;
				padding-bottom: 0;
				border: 0;
				height: 100%;
				line-height: 9.1vh;
				border-radius: 20px 20px 0 0;
			}
			.admin-menu-button {
				font-weight: bold;
				display: flex;
				align-items: center;
				background-color: #7A28CB;
				color: #F0F1FF;
				border: none;
				padding: 0 25px 0px 18px;
				height: 9vh;
				border-radius: 20px 20px 0px 0px;
				cursor: pointer;
			}
			.admin-menu-button:hover {
				color: #F9567D;
			}
			.admin-menu-button.open {
				background-color: #3E3478;
				color: #F0F1FF;
			}
			.admin-menu-button.open:hover {
				color: #F9567D;
			}
			.submenu {
				display: none;
				position: absolute;
				left: 10;
				top: 100%;
				background-color: #3E3478;
				list-style: none;
				padding: 0px;
				z-index: 1000;
			}
			.submenu.open {
				display: block;
				border-radius: 0px 0px 20px 20px ;
				height: auto;
				align-items: center;
				background-color: #3E3478;
				box-shadow: 5px 10px 5px 0px #272C4C;
				padding: 0 0px;
			}
			.submenu.open a {
				color: #F0F1FF;
				margin: 0;
				padding: 0 0px;
				padding-bottom: 0;
				height: 100%;
				line-height: 4.5vh;
			}
			.submenu.open a:hover {
				color: #F9567D;
			}
		}
	}
}

.hamburger {
	display: none;
	flex-direction: column;
	cursor: pointer;
	position: absolute;
	top: 25px;
	right: 20px;
	z-index: 1001;
	.bar {
		width: 25px;
		height: 3px;
		background-color: white;
		margin: 4px 0;
	}
}  
.chevron {
    transform: rotate(90deg);
    transition: transform 0.3s ease;
}

.rotate {
    transform: rotate(0deg);
}
/* Media queries para pantallas medianas */
@media (max-width: 1224px) {
	.navbar {
	  height: auto;
	}
  
	.navbar ul {
	  padding: 0;
	}
  
	.navbar li {
	  padding: 0 5px;
	}
  }