.navbar {
	position: fixed;
	width: 100%;
	top: 0.5;
	left: 0;
	display: block;
	background-color: #272C4C; /*Color de la navbar*/
	height: 9vh;
	z-index: 1000;
	ul {
		display: flex;
		justify-content: center; /* Centra los elementos */
		align-items: center;
		padding: 0 5vw;
		margin: 0;
		height: 100%;
		li {
			display: flex;
			align-items: center;
			padding: 0 10px; /* Reduce la distancia entre los elementos */
			position: relative;
			height: 100%;
			a {
				color: #ffffff;
				font-size: 0.9em;
				text-decoration: none;
				position: relative;
				border-bottom: transparent 3px solid;
				transition: border-color 0.3s ease;
				padding: 0 10px 3px 10px;
				box-sizing: border-box;
			}
			:not(.active):hover::before {
				animation: heartbeat 5s ease-in-out infinite;
				transform: scaleX(1);
			}
			.active {
				font-weight: bold;
				background-color: #F0F1FF;
				color: #002651;
				margin: 0;
				padding-bottom: 0;
				border: 0;
				height: 100%;
				line-height: 9.1vh;
			}
		}
	}
	.nav-menu ul li {
		span {
			color: #F9567D;
			font-size: 0.9em;
			text-decoration: none;
			position: relative;
			border-bottom: transparent 3px solid;
			transition: border-color 0.3s ease;
			padding: 0 10px 3px 10px;
			box-sizing: border-box;
		}

		.submenu {
		display: none;
		position: absolute;
		left: 0; /* Ajusta esta propiedad si necesitas desplazar horizontalmente el submenú */
		top: 100%; /* Esto hará que el submenú se despliegue hacia abajo */
		background-color: #272C4C;
		list-style: none;
		padding: 10px;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* Añade sombra para que se vea mejor */
		z-index: 1000
		}
		.submenu li {
			padding: 10px 0;
		}
		.submenu.open {
		  display: block;
		  height: auto;
		}
	}
}

.hamburger {
	display: none;
	flex-direction: column;
	cursor: pointer;
	position: absolute;
	top: 25px;
	right: 20px;
	z-index: 1001;
	.bar {
		width: 25px;
		height: 3px;
		background-color: white;
		margin: 4px 0;
	}
}  
.chevron {
    transform: rotate(90deg); /* Inicia en 90 grados */
    transition: transform 0.3s ease; /* Añade una transición suave */
}

.rotate {
    transform: rotate(0deg); /* Rota a -90 grados cuando se hace clic */
}
/* Media queries para pantallas medianas */
@media (max-width: 1224px) {
	.navbar {
	  height: auto;
	}
  
	.navbar ul {
	  padding: 0;
	}
  
	.navbar li {
	  padding: 0 5px;
	}
  }