.permisos-container {
  
  max-width: 700px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #d787eb;
  border-radius: 10px;
  background-color: #f9f9f9;
  padding-top: 30px;
  padding-bottom: 50px;
}
  
  
.message {
  text-align: center;
  margin-top: 15px;
  font-size: 16px;
  color: green;
}

/* Estilo para la celda de la columna Motivo */
table td.reason-cell {
  max-width: 10px;  /* Limita el ancho de la columna */
  overflow: hidden;  /* Oculta cualquier contenido que se desborde */
  text-overflow: ellipsis; /* Muestra "..." cuando el texto es más largo */
  white-space: nowrap;  /* Evita que el texto se divida en varias líneas */
  cursor: pointer;  /* Cambia el cursor para indicar que el texto es interactivo */
}

table td.name-cell {
  max-width: 10px;  /* Limita el ancho de la columna */
  overflow: hidden;  /* Oculta cualquier contenido que se desborde */
  text-overflow: ellipsis; /* Muestra "..." cuando el texto es más largo */
  white-space: nowrap;  /* Evita que el texto se divida en varias líneas */
  cursor: pointer;  /* Cambia el cursor para indicar que el texto es interactivo */
}
/* Tooltip de texto completo */
table td.reason-cell[title]:hover {
  background-color: #f0f0f0;  /* Cambio de color de fondo cuando se pasa el cursor */
}
table td.name-cell[title]:hover {
  background-color: #f0f0f0;  /* Cambio de color de fondo cuando se pasa el cursor */
}

  