.bg {
    position: fixed;
    /*Opciones: absolute, fixed, relative, static, sticky*/
    top: 0;
    padding-bottom: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(18, 19, 18, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    /* Asegura que el popup esté por encima de otros elementos */
}

.popup-edit-reserva {
    max-height: 80vh;
    width: 600px;
    background: white;
    position: relative;
    border-radius: 12px;
    overflow-y: auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1001;
}

.popup-edit-reserva {
    top: 2vh;
    width: 600px;
    max-height: 700px;
    background: white;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    overflow-x: hidden;
    
    .popup-content {
        margin: 0px 20px;
        height: 100%;
        max-height: 700px;
        overflow-y: auto;
        overflow-x: hidden;
        padding: 20px 20px -20px 20px;
    }
    .popup-content::-webkit-scrollbar {
        width: 12px;
        right: 10px;

    }
    .popup-content::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 10px;
    }
    .popup-content::-webkit-scrollbar-thumb {
        background: #3E3478;
        border-radius: 10px;
    }
    
    .popup-content::-webkit-scrollbar-thumb:hover {
        background: #7A28CB;
    }
}

.popup-reserva .form-group {
    h1 {
        margin-bottom: 30px;
    }

    button {
        margin-top: 0;
    }

    .container_inputs {
        margin-bottom: 10px;
    }

    .tooltip-icon {
        position: relative;
        top: 4px;
        margin-left: 3px;
        cursor: pointer;
        display: inline-block;
    }

    .tooltip-icon .tooltip-text {
        visibility: hidden;
        width: 150px;
        background-color: rgba(0, 0, 0, 0.75);
        color: #fff;
        text-align: center;
        border-radius: 4px;
        padding: 5px;
        position: absolute;
        font-size: 12px;
        z-index: 1;
        top: -3px;
        left: 105%;
        opacity: 0;
        transition: opacity 0.3s;
    }

    .tooltip-icon .tooltip-text::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 100%;
        margin-top: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent rgba(0, 0, 0, 0.75) transparent transparent;
    }

    .tooltip-icon:hover .tooltip-text {
        visibility: visible;
        opacity: 1;
    }
}

.title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 0px;
    text-align: center;
    margin-top: 0px;
}


.form-group {
    margin-bottom: 5px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
}

.form-group select,
.form-group input {
    width: 100%;
    padding: 10px;
    border: 3px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-group select:focus,
.form-group input:focus {
    border: 3px solid #7A28CB;
    outline: none;
}

button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    border: 3px solid #7A28CB;
    background-color: #7A28CB;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    margin-top: 0px;
}

button[type="submit"]:hover {
    border: 3px solid #7A28CB;
    transition: 0.3s;
    background-color: #ffffff;
}

.checkbox-actions {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    align-items: center;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    button5 {
        display: center;
        width: 100%;
        padding: 10px;
        background-color: #401474;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        font-weight: 600;
    }
    button5:hover {
        background-color: #b300aa;
    }
}

.tooltip-icon .tooltip-text {
    visibility: hidden;
    width: 150px;
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 5px;
    position: absolute;
    font-size: 12px;
    z-index: 1;
    top: -3px;
    left: 105%;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip-icon .tooltip-text::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent rgba(0, 0, 0, 0.75) transparent transparent;
}

.tooltip-icon:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

/* Estilos para los elementos de checkbox */

.checkbox-container {
    display: flex;
    flex-wrap: wrap;
    /* Permitir que los elementos se ajusten a una nueva línea si es necesario */
    gap: 10px;
    /* Espacio entre los checkboxes */
}

.checkbox-item {
    display: inline-flex;
    align-items: center;
    padding: 4px 1px;
    border-radius: 12px;
    margin: 10px;
    transition: background-color 0.3s;
    border: 1px solid #401474;
    width: 20%;
}

.checkbox-item:hover {
    background-color: #f0f0f0;
}

.checkbox-item input[type="checkbox"] {
    margin-right: 5px;
    transform: scale(1.8);
    cursor: pointer !important;
}

.checkbox-item label {
    color: #333;
    font-size: 14px;
    cursor: pointer !important;
    padding-left: 10px;
}

.fecha {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.react-datepicker-wrapper {
    width: 100%;
}