.search-input-table {
    padding: 8px 16px;
    border-radius: 4px;
    padding-left: 40px;
    background-image: url('../assets/SearchIcon.svg');
    background-repeat: no-repeat;
    background-position: 10px center;
    font-size: 16px;
    width: auto;
    min-width: 300px;
    background-color: rgba(255, 255, 255, 0.87);
    transition: background-position 0.3s ease, padding-left 0.3s ease;
    text-indent: 25px;
}

.search-input-table:focus {
    background-position: -20px center;
    border: 2px solid #7A28CB;
}

.search-input-table::placeholder {
    color: #3E3478;
    text-indent: 25px;
}