@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
@import url("animations.css");

html,
body {
	margin: 0;
	display: flex;
	flex-direction: column;
	place-items: center;
	min-width: 100%;
	min-height: 100vh;
	overflow-x: hidden;
	font-family: "Montserrat", sans-serif;
}

#root {
	min-width: 100%;
	min-height: 100vh;
	margin: 0 auto;
}

/* Estilos para la barra de navegación */

nav ul {
	list-style: none;
	padding: 0;
	display: center; /* Alinea los elementos horizontalmente */
}

nav ul li {
	margin: 0 15px; /* Espaciado entre los elementos */
}

nav ul li a {
	color: #FFFFFF; /* Cambiado a blanco */
	text-decoration: none; /* Sin subrayado */
	transition: color 0.3s ease; /* Transición suave para el color */
	font-weight: bold;
}

nav ul li a:hover {
	color: #F9567D; /* Color dorado para el hover */
}

/* Estilo personalizado para "Cerrar sesión" */
.cerrar-sesion a {
    color: #FFFFFF;
    transition: color 0.3s ease;
}

.cerrar-sesion a:hover {
    color: #e4795e; /* Color rojo cuando se hace hover */
}
