.table-container .tabulator .tabulator-col {
    background-color: #7A28CB;
    color: #fff;
}

.tabulator .tabulator-footer .tabulator-page {
    background-color: #fff;
    color: black;
    border: 1px solid #003366;
    padding: 2px 4px;
    border-radius: 4px; 
    font-size: 12px;
    height: 30px;
    width: 80px;
}

.tabulator .tabulator-footer .tabulator-page.active {
    color: #7A28CB;
}

.tabulator .tabulator-footer .tabulator-button {
    padding: 2px 4px;
    font-size: 12px;
    border-radius: 4px;
}

.tabulator-row {
    background-color: #ffffff;
    color: #0a0909;
}

.tabulator {
    border-radius: 8px; 
    border: 1px solid #7A28CB; 
    overflow: hidden; 
}
