.main-container {
    display: flex;
    flex-direction: column;
    height: 15vh; /* Altura total de la ventana */
    width: 100%;
    
}

/* .content {
    padding-top: 25vh; 
    width: 100%; 
} */

.table-container {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
}

.top-table {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.title-table {
    color: #003366;
    margin-left: 70px;
}

.filter-actions {
    display: flex;
    align-items: center; /* Alinear verticalmente */
    gap: 10px;
}

.filter-actions button {
    width: 30px; /* Ancho del botón */
    height: 30px; /* Alto del botón */
    padding: 0; /* Eliminar padding adicional */
    border: none; /* Quitar bordes */
    background: rgba(255, 255, 255, 0.87); /* Fondo del botón */
    cursor: pointer; /* Cambiar cursor al pasar por encima */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; /* Sombra opcional */
}

.filter-actions button img {
    width: 20px; /* Ancho de la imagen del icono */
    height: 20px; /* Alto de la imagen del icono */
}

.delete-user-button {
    margin-right: 70px;
}

@media (max-width: 767px) {
    .title-table {
        margin: 0;
    }
    .top-table {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .delete-user-button {
        margin-right: 0;
    }

    .filter-actions {
        margin-bottom: 10px;
    }
    .table-container {
        margin: 0;
        width: 352px;
        height: 500px;
    }
    .popup {
        width: 350px;
        height: 600px;
    }
    .popup .form {
        padding: 20px;
    }

    .popup .close {
        margin-right: 0;
    }

    .popup .options-class {
        width: 10px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .title-table {
        margin-left: 35px;
    }

    .delete-user-button {
        margin-right: 35px;
    }
}
